@media(max-width:576px){
    header{
        background-color:$color-principal;
    }
}

@media(min-width:992px){
    header{
        background-color: blue;
    }
}

@media(max-width:450px){
    header{
        background-color:black;
    }
}